
h1 {
    margin: 0;
    padding: 2px 0;
    font-size: 30px;
    font-weight: bold;
}

body {
    font-family: "Trebuchet MS", Verdana, Helvetica, SansSerif;
    padding: 20px;
    border: solid medium green;
    font-size: 15pt
}

input[type=submit] {
    margin-top: 15px;
    padding: 5px;
    width: 336px;
}